<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li class="item product product-item" data-role="product-item">
    <!-- <div class="product"> -->
        <!-- ko if: product_has_url -->
        <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
                <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
                <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- /ko -->

        <div class="product-item-details">
            <strong class="product-item-name">
                <!-- ko if: product_has_url -->
                <a data-bind="attr: {href: product_url}, html: product_name"></a>
                <!-- ko if: product_type == "configurable" -->
                    - <span data-bind="text: options[0].value.substring(0, options[0].value.indexOf('-'))"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                    <!-- ko text: product_name --><!-- /ko -->
                <!-- /ko -->
            </strong>

            <!-- ko if: options.length -->
            <!-- ko if: product_type == "bundle" -->
            <div class="product options">
                <div class="item-options__heading">
                    Details<span class="item-options__toggle-icon"></span>
                </div>
                <div class="item-options__content">      
              <!-- ko foreach: { data: options, as: 'option' } -->
                <!-- ko if: Array.isArray(option.value) -->
                <span data-bind="html: option.value.join(': ')"></span>
                <!-- /ko -->
                <!-- ko ifnot: Array.isArray(option.value) -->
                    <span data-bind="text: option.value"></span>
                <!-- /ko -->
              <!-- /ko -->
              </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <div class="product actions">
                    <div class="details-qty qty">
                        <div data-bind="attr:{ class:'qty-click-event','data-cart-item': item_id, 'direction':'subtract', id: item_id+'-qty-subtract' }">
                            <span>-</span>
                        </div>
                        <input data-bind="attr: {
                            id: 'cart-item-'+item_id+'-qty',
                            'data-cart-item': item_id,
                            'data-item-qty': qty,
                            'data-cart-item-id': product_sku
                        }, value: qty"
                        type="number"
                        pattern="[0-9]*"
                        size="4"
                        class="item-qty qty-box cart-item-qty">
                        <div data-bind="attr:{ class:'qty-click-event','data-cart-item': item_id, 'direction':'add', id: item_id+'-qty-add'}">
                            <span>+</span>
                        </div>
            
                        <button data-bind="attr: {
                            id: 'update-cart-item-'+item_id,
                            'data-cart-item': item_id,
                            title: $t('Update')
                        }"
                        class="update-cart-item"
                        style="display: none">
                            <span data-bind="i18n: 'Update'"></span>
                        </button>
                    </div>
            
            
                </div>
        </div>
        <div class="edit-and-remove">
            <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
            class="action delete">
                <span title="Remove" data-bind="i18n: 'x'"></span>
            </a>
            <div class="product-item-pricing">
                <!-- ko if: canApplyMsrp --><!-- /ko -->
                <!-- ko ifnot: canApplyMsrp -->
                <!-- ko foreach: $parent.getRegion('priceSidebar') -->
        
                <!-- ko if: item.product_old_price --><!-- /ko -->
        
                <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} -->
                <div class="price-container">
                    <span class="price-wrapper" data-bind="html: price">            <span class="price-wrapper price-including-tax" data-label="Incl. Tax">
                    <span class="price">£8.99</span>        </span>
                    </span>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    <!-- </div> -->
</li>